/* ############################################ */
/* MAIN ONES */
body {
    background: linear-gradient(to bottom, #2946FF, #242526 20%);
    margin: 0;
    padding: 0;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
  body {
    height: 60vh;
  }
}

header {
    padding: 0;
    color: #333;
    position: relative;
    overflow: hidden;
    margin-top: 0;
}

figcaption {
  color: #F0F0F0;
}

/* ############################################ */
/* TITLES */
.title {
  padding-left: 20px;
  width: 25%;
  font-family: 'Arial', sans-serif;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  color: #000;
  transition: color 0.667s ease;
}

@media only screen and (max-width: 600px) {
  .title {
    width: 16%;
    padding: 5px 0 5px 5px;
    font-size: 20px;
  }
}

h2 {
  font-family: 'Arial', sans-serif;
  font-weight: lighter;
  font-size: 24px;
  color: #242526;
  margin: 20px 0 10px;
}

@media only screen and (max-width: 600px) {
  h2 {
    padding: 0 5px 0 2px;
    font-size: 12px;
  }
}

/* ############################################ */
/* HOMEPAGE */
.homepage {
    width: 100%;
}

.homepage-banner-container {
    position: relative;
    width: 100%;
    height: 122px;
    margin-right: 20px;
}

@media only screen and (max-width: 600px) {
  .homepage-banner-container {
    height: 22px;
    margin-right: 2px;
  }
}

.content {
    display: flex;
    margin: 122px 50px 50px;
}

@media only screen and (max-width: 600px) {
  .content {
    margin: 62px 15px 15px;
  }
}

/* ############################################ */
/* LEFT COLUMN */
.left-column {
    margin-right: 20%;
    width: 66.6%;
    background-color: rgba(240, 240, 240, 0.92);
}

.left-column-homepage {
    margin-right: 20%;
    width: 57%;
    background: linear-gradient(to bottom, #FF4500, rgba(240, 240, 240, 0.92) 1%);
    height: 100%;
    font-size: 16px;
    overflow-y: auto;
}

@media only screen and (max-width: 600px) {
  .left-column-homepage {
    margin-right: 0;
    width: 100%;
    font-size: 10px;
  }
}

/* ############################################ */
/* RIGHT COLUMN */
.right-column,
.right-column-homepage {
    position: absolute;
    right: 0;
    width: 33.3%;
    height: 100%;
    overflow-y: auto;
}

.right-column {
    top: 0;
    display: flex;
    flex-direction: column;
}

.right-column-homepage {
    background: linear-gradient(to bottom, #D0D6DB, #242526 33.3%);
    padding: 40px;
}

@media only screen and (max-width: 600px) {
  .right-column-homepage {
    width: 0;
    padding: 0;
  }
}

.right-column-homepage:hover {
    background: #D0D6DB;
}

.right-column figure {
    margin-bottom: 20px;
}

.right-column img,
.right-column-homepage img {
    max-width: 100%;
}

/* ############################################ */
/* BANNER */
.top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0 4px;
    width: 100%;
    height: 100%;
    margin-top: 0;
    cursor: pointer;
    z-index: 2;
    background: linear-gradient(90deg, #F0F0F0, #242526 40%);
}

@media only screen and (max-width: 600px) {
  .top-banner {
    padding: 0 2px;
    background: linear-gradient(90deg, #F0F0F0, #242526 30%);
  }
}

.top-banner a:hover {
    color: #FF4500;
}

.banner-element {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-stretch: condensed;
    font-size: 20px;
    color: #F0F0F0;
    padding: 0 12px;
}

@media only screen and (max-width: 600px) {
  .banner-element {
    font-weight: lighter;
    letter-spacing: -1px;
    font-size: 12px;
    line-height: 0.1em;
    padding: 0;
  }
}

/* ############################################ */
/* NAV */
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-style: italic;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* ############################################ */
/* SWARMS */
#imageSwarm {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    cursor: pointer;
}

.title-swarm {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: #FF4500;
}

.title-swarm h1 {
    margin: 0 0 0 20px;
    font-size: 24px;
    color: #FF4500;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.title-swarm .line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FF4500;
    top: 50%;
    left: 20px;
    transform-origin: left;
    z-index: 0;
}

/* ############################################ */
/* MISC */
#hrid {
    display: inline-block;
    width: 100%;
    background: #FF4500 50%;
    height: 2px;
    border: 0;
    margin: 0 0 20px;
}
