/* ############################################ */
/* GLOBAL STYLES */
.content {
  background: linear-gradient(to bottom, #2946FF, #242526 20%);
  height: 100vh;
  width: 100%;
}

#hrid {
  display: inline-block;
  width: 100%;
  background:  #ff4500 50%;
  height: 2px;
  border: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.banner-container {
    width: 100%;
}

/* ############################################ */
/* HEADER STYLES */
header {
    padding: 0;
    color: #333; /* Dark grey text color */
    position: relative;
    overflow: hidden;
    margin-top: 0;
}

.top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 4px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    background: linear-gradient(90deg, #F0F0F0, #242526 40%);
}

.top-banner a:hover {
  color: #ff4500; /* Bright red-orange on hover */
}

.banner-element {
  font-family: "Arial", Arial, sans-serif;
  font-style: italic;
  font-stretch: condensed;
  font-size: 20px;
  color: #F0F0F0;
  padding-right: 12px;
  padding-left: 12px;
}

@media only screen and (max-width: 600px) {
.banner-element {
  font-weight: lighter;
  letter-spacing: -1px;
  font-size: 12px;
  line-height: 0.1em;
  padding-right: 0px;
  padding-left: 0px;
}
}

/* ############################################ */
/* STYLES FOR TITLES AND TEXT */
.title {
    padding-left: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    color: #000; /* Black text color */
    transition: color 0.667s ease; /* Smooth transition for color changes */
}

h2 {
    font-family: 'Arial', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    color: #242526; /* Lighter shade of gray */
    margin: 20px 0 10px;
}

/* ############################################ */
/* CONTENT STYLES */
.content {
    display: flex;
    margin: 50px;
}

.column {
    flex: 1; /* Allows for flexible width distribution */
    background-color: #f0f0f0ea;
    padding: 20px;
    margin-right: 20px;
}

.left-column {
    margin-right: 20%; /* More space for left column on larger screens */
}

.right-column {
    background: linear-gradient(to bottom, #D0D6DB, #242526 33.3%);
}

@media only screen and (max-width: 600px) {
.right-column {
  width: 0%;
  padding: 0px;
}
}

/* ############################################ */
/* MEDIA QUERIES FOR RESPONSIVENESS */
@media only screen and (max-width: 600px) {
    body {
        height: 60vh; /* Adjust height for smaller screens */
    }

    .top-banner {
        padding: 2px;
        background: linear-gradient(90deg, #F0F0F0, #242526 30%);
    }

    .content {
        flex-direction: column; /* Stack columns vertically on small screens */
        margin: 15px; /* Less margin for smaller screens */
    }

    .column {
        width: 100%; /* Full width for very small screens */
        margin-right: 0; /* Remove right margin on smaller screens */
        font-size: 10px; /* Smaller font size for better readability */
    }

    .title {
        width: 100%; /* Full width title on small screens */
        font-size: 20px; /* Smaller title size */
        padding-left: 5px; /* Adjust padding */
    }

    h2 {
        font-size: 12px; /* Smaller h2 size */
    }
}
